<div class="flex-container">
  <div class="flex-left">
    <div *ngIf="isAccM || isAdm" (click)="openQuickAdd()" class="submit-form quick_add">
        <button class="submit">+ Tambah</button>
      </div>
  </div>

	<div class="flex-right">
    <div fxLayout="row">
      <div (click)="toggleDisplay()" class="submit-form quick_add">
        <button class="submit">Filter</button>
      </div>
    </div>
	</div>
</div>

<div class="table-container">
  <ngx-table [configuration]="configuration"
    [data]="journals"
    [columns]="columns"
    [id]="'parent-table'"
    #table
    [detailsTemplate]="detailsTemplate">
    <ng-template let-row let-index="index">
      <td (click)="openDialog(row)">
        {{row.journal_id}}
      </td>
      <td (click)="openDialog(row)">
        {{row.origin}}
      </td>
      <td (click)="openDialog(row)">
        {{row.amount | number}}
      </td>
      <td (click)="openDialog(row)" class="text-right">
        {{row.date | date}}
      </td>
      <td>
        <button
          class="save_btn"
          id="expandButton-{{ index }}"
          (click)="onRowClickEvent($event, index, row.id)">
          <i class="fa fa-arrow-right" *ngIf="!toggledRows.has(index)"></i>
          <i class="fa fa-arrow-down" *ngIf="toggledRows.has(index)"></i>
        </button>
      </td>
    </ng-template>
  </ngx-table>
  <ng-template #detailsTemplate let-row>
    <ngx-table
      [id]="'nested-table'"
      [configuration]="configuration"
      [data]="entries"
      [columns]="nestedColumns">
    </ngx-table>
  </ng-template>
</div>