<div class="container items-end">
	<div class="pl-2 h-2rem pt-1">
		<div *ngIf="isIM || isAdm" class="submit-form">
    	<div class="flex flex-row items-end">
        <input #input maxlength="6" type="text" class="input h-2rem w-4rem" name="short" [(ngModel)]="warehouseadd.short" required id="short" placeholder="Kode *">
        <input type="text" class="input h-2rem w-4rem ml-3" name="name" [(ngModel)]="warehouseadd.name" required id="name" placeholder="Nama *">
      	<div class="btn-quick btn-quick-left ml-3" (click)="saveWarehouse()">+ Add</div>
    	</div>
  	</div>
	</div>

	<div class="pr-2">
    <div class="btn-quick btn-quick-right" (click)="toggleDisplay()">Filter</div>
	</div>
</div>

<div class="mx-3">
  <ngx-table [configuration]="configuration"
    [data]="warehouses"
    [columns]="columns"
    (event)="openDialog($event)">
  </ngx-table>
</div>

<div class="flex flex-row justify-between">
  <button class="ml-3 btn-gradient text-gradient text-12" (click)="openUpload()">Unggah</button>
</div>