<div class="container">
  <div class="pl-1 h-2rem pt-1"> </div>  
	<div class="pr-2 h-2rem pt-1">
    <div class="btn-quick btn-quick-right" (click)="toggleDisplay()">Filter</div>
	</div>
</div>

<div class="mx-3">
  <ngx-table [configuration]="configuration"
    [data]="journals"
    [columns]="columns"
    (event)="openDialog($event)">
    <ng-template let-row let-index="index">
      <td (click)="openDialog(row)">
        {{row.name}}
      </td>
      <td (click)="openDialog(row)">
        {{row.partners.name}}
      </td>
      <td (click)="openDialog(row)">
        {{row.amount | number}}
      </td>
      <td (click)="openDialog(row)" class="text-center">
        {{row.date | date}}
      </td>
      <td (click)="openDialog(row)" class="text-center">
        <!--<span *ngIf="row.lock" style="background: #28B463; color: white; border-radius: 3pt; padding: 3pt;">Posted</span>-->
        <span *ngIf="row.lock" class="text-success text-shadow">Posted</span>
        <span *ngIf="!row.lock" class="text-danger text-shadow">Unposted</span>
      </td>
    </ng-template>
  </ngx-table>
</div>