<div class="loaders" *ngIf="loaded">
  <div class="loader" style="margin-right:160pt;"></div>
</div>
<div class="flex-container">
	<div class="flex-left">
		<div *ngIf="isProdM || isAdm" (click)="openQuickAdd()" class="submit-form quick_add">
    		<button class="submit">+ Tambah</button>
  		</div>
	</div>

	<div class="flex-right">
    <div style="display: flex; flex-direction: row;">
		  <input type="text" class="inputs" placeholder="Search data" (keyup)="applyFilter($event)">
      <div (click)="toggleDisplay()" class="submit-form quick_add">
        <button class="submit">Filter</button>
      </div>
    </div>
	</div>
</div>

<div class="table-container">
  <ngx-table [configuration]="configuration"
           [data]="bomes"
           [columns]="columns"
           (event)="openDialog($event)">
    <ng-template let-row let-index="index">
      <td>
        {{row.name}}
      </td>
      <td>
        {{row.totalline | number}}
      </td>
      <td>
        <span *ngIf="row.name">Edit</span>
      </td>
    </ng-template>
  </ngx-table>
</div>