<div class="loaders" *ngIf="loaded">
  <div class="loader" style="margin-right:160pt;"></div>
</div>
<div class="flex-container">
	<div class="flex-left">
		<div *ngIf="isIM || isAdm" (click)="openQuickAdd()" class="submit-form quick_add">
    		<button class="submit">+ Tambah</button>
  		</div>
	</div>

	<div class="flex-right">
    <div style="display: flex; flex-direction: row;">
		  <!--<input type="text" class="inputs" placeholder="Search data" (keyup)="applyFilter($event)">-->
      <div (click)="toggleDisplay()" *ngIf="toggle" class="submit-form quick_add">
        <button class="submit">Filter</button>
      </div>
      <div class="flexfull" style="margin-left: 5pt;">
        <mat-button-toggle-group class="active_btn" #groupProd="matButtonToggleGroup" [(value)]="dattoggle" (change)="onToggleChange(groupProd.value)" style="height: 20pt !important; padding: 0pt;">
          <mat-button-toggle value="true" style="width: 50px;"><i class="fa fa-bars" style="margin-top: -15pt;" aria-hidden="true"></i></mat-button-toggle>
          <mat-button-toggle value="false" style="width: 50px;"><i class="fa fa-file-o" style="margin-top: -15pt;" aria-hidden="true"></i></mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
	</div>
</div>

<div class="table-container" *ngIf="toggle">
  <ngx-table [configuration]="configuration"
           [data]="products"
           [columns]="columns"
           (event)="openDialog($event)">
    <ng-template let-row let-index="index">
      <td>
        {{row.name}}
      </td>
      <td>
        {{row.qoh | number}}
      </td>
      <td>
        {{row.uoms.uom_name}}
      </td>
      <td>
        {{row.listprice | number}}
      </td>
      <td>
        {{row.productcats.description}}
      </td>
      <td>
        <span *ngIf="row.brands">{{row.brands.description}}</span>
      </td>
    </ng-template>
  </ngx-table>
</div>

<div *ngIf="!toggle"><input type="text" class="inputs" style="width: 100%;" placeholder="Search data" [(ngModel)]="term"></div>

<div *ngIf="!toggle" style="height: 100vw; overflow-y: scroll;">
  <div>
  <mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
    <mat-grid-tile *ngFor="let product of products | filter:term" [colspan]="1" [rowspan]="2" (click)="openCard(product)">
      <mat-card>
        <mat-card-content>
          <div class="mat-content">
            <img class="mat-card-image" src="{{baseUrl}}files/files/{{product.image}}" />
            <div class="title">
              <b>{{product.name}}</b><br/>
              <font style="color: #999999">Brand: </font><font style="color: #6C3483">{{product.brandName}}</font><br/>
              <font style="color: #999999">Cat: </font><font style="color: #666666">{{product.brandName}}</font><br/>
              {{product.qoh | number}} {{product.suomName}}
            </div>
          </div>
        </mat-card-content>        
      </mat-card>
    </mat-grid-tile> 
  </mat-grid-list>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <button *ngIf="toggle" class="btn-gradient text-gradient upload" (click)="openUpload()">Unggah</button>
</div>