<div class="container">
  <div class="pl-2 h-2rem pt-1">
    <a class="submit btn-quick btn-quick-left" (click)="addStockmove()">+ Add</a>
  </div>
	<div class="pr-2 h-2rem pt-1">
    <a class="submit btn-quick btn-quick-right" (click)="toggleDisplay()">Filter</a>
	</div>
</div>

<div class="mx-3">
  <ngx-table [configuration]="configuration"
    [data]="datas"
    [columns]="columns"
    (event)="openDialog($event)">
    <ng-template let-row let-index="index">
      <td (click)="openDialog(row.id)">
        {{row.trans_id}}
      </td>
      <td (click)="openDialog(row.id)">
        {{row.origin}}
      </td>
      <td (click)="openDialog(row.id)">
        {{row.date | date}}
      </td>
      <td (click)="openDialog(row.id)">
        <span *ngIf="row.req" style="background: #A569BD; color: white; border-radius: 3pt; padding: 3pt;">Draft</span>
        <span *ngIf="!row.req" style="background: #28B463; color: white; border-radius: 3pt; padding: 3pt;">Posted</span>
      </td>
    </ng-template>
  </ngx-table>
</div>