<div class="container">
  <div class="pl-2 pt-1">
    <div class="btn-quick btn-quick-left" (click)="addStockmove()">+ Add</div>
  </div>
  <div class="pr-2 pt-1">
    <div class="btn-quick btn-quick-right" (click)="toggleDisplay()">Filter</div>
  </div>
</div>

<div class="mx-3 mt-2">
  <ngx-table [configuration]="configuration"
    [data]="datas"
    [columns]="columns"
    (event)="openDialog($event)">
    <ng-template let-row let-index="index">
      <td (click)="openDialog(row.id)">
        {{row.trans_id}}
      </td>
      <td (click)="openDialog(row.id)">
        {{row.origin}}
      </td>
      <td (click)="openDialog(row.id)">
        {{row.date | date}}
      </td>
      <td (click)="openDialog(row.id)">
        <span *ngIf="row.req" class="text-warning text-shadow">Draft</span>
        <span *ngIf="!row.req" class="text-success text-shadow">Confirmed</span>
      </td>
    </ng-template>
  </ngx-table>
</div>