<div class="flex-vertical global-setting">
  <div fxLayout="row" fxLayoutAlign="space-between center">
  	<span class="setting-title">System Setting</span>
  	<div class="btn-rainbow">
  		<div class="btn-white">
  			<button class="btn-gradient text-gradient" (click)="save1()">Save</button>
  		</div>
  	</div>
  </div>
  <div class="flexfull">
    <div class="flex35">
      <div fxLayout="column" class="imagecont">
        <div fxLayout="row" fxLayoutAlign="space-around start">
          <ul *ngFor="let image of imageInfos | async" class="uldialog">
            <li *ngIf="(image.name == oriimage)" class="uldialog">
              <img src="{{ image.url }}" alt="{{ image.name }}" height="100px"/>
            </li>
          </ul>
          <div><img style="max-height: 100px;" *ngFor='let preview of previews' [src]="preview" class="preview"></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around start" style="margin-top:-5pt;">
          <input class="choosefile" type="file" accept="image/*" (change)="selectFiles($event)" />
          <button class="save_btn" style="font-size:.8em;" [disabled]="!selectedFiles" (click)="uploadFiles()">Unggah</button>
        </div>
      </div>
    </div>
    <div class="flex65">
      <div class="flexfull">
        <div class="flex33 text-right">Company / Store Name : </div>
        <input class="inputs text11" type="text" name="company" required placeholder="Company Name" [(ngModel)]="comp_name">
      </div>
      <div class="flexfull">
        <div class="flex33 text-right">Address : </div>
        <input class="inputs text11" type="text" name="address" required placeholder="Address" [(ngModel)]="comp_addr">
      </div>
      <div class="flexfull">
        <div class="flex33 text-right">Phone : </div>
        <input class="inputs text11" type="text" name="phone" required placeholder="Phone" [(ngModel)]="comp_phone">
      </div>
      <div class="flexfull">
        <div class="flex33 text-right">Email : </div>
        <input class="inputs text11" type="text" name="email" required placeholder="Email" [(ngModel)]="comp_email">
      </div>
      <div class="flexfull">
        <div class="flex50">
          Warna Utama
          <input class="form-control" [(ngModel)]="titlecolor" [value]="titlecolor" [style.background]="titlecolor" [cpOutputFormat]="'hex'"
            [(colorPicker)]="titlecolor" />
        </div>
        <div class="flex50">
          Warna Kedua
          <input class="form-control" [(ngModel)]="navcolor" [value]="navcolor" [style.background]="navcolor" [cpOutputFormat]="'hex'"
            [(colorPicker)]="navcolor" />
        </div>
      </div>
    </div>
  </div>
</div>

<mat-tab-group mat-align-tabs="start" style="min-height: 205pt;">
  <mat-tab label="Umum">
    <div class="flex-vertical global-setting">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- 1 -->
        <span class="setting-title">Pengaturan Harga HPP</span>
        <!-- 2 -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="span-left">Detail</span>
          <label class="switch">
            <input type="checkbox" (ngModelChange)="ngModelChange1($event)" [(ngModel)]="cost_general">
            <span class="slider round"></span>
          </label>
          <span class="span-right">Umum</span>
        </div>
        <!-- 3 -->
        <div class="btn-rainbow">
          <div class="btn-white">
            <button class="btn-gradient text-gradient" (click)="save2()">Save</button>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div style="text-align: left;" [innerText]="explain1"></div>
      </div>
    </div>
    <div class="flexfull width90 padtop">
      <div fxLayout="row" fxLayoutAlign="space-between end" class="flex50">
        <span class="flex33">POS prefix</span>
        <input class="inputs text11 flex65" type="text" placeholder="POS Prefix" [(ngModel)]="idh.pre_pos_id">
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between end" class="flex50 margin_7">
        <span class="flex33">Transfer prefix</span>
        <input class="inputs text11 flex65" type="text" placeholder="Transfer Prefix" [(ngModel)]="idh.pre_transfer_id">
      </div>
    </div>
    <div class="flexfull width90 padtop">
      <div fxLayout="row" fxLayoutAlign="space-between end" class="flex50">
        <span class="flex33">Pembayaran prefix</span>
        <input class="inputs text11 flex65" type="text" placeholder="Pembayaran Prefix" [(ngModel)]="idh.pre_pay_id">
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between end" class="flex50 margin_7">
        <span class="flex33">Pembelian prefix</span>
        <input class="inputs text11 flex65" type="text" placeholder="Pembelian Prefix" [(ngModel)]="idh.pre_purchase_id">
      </div>
    </div>
    <div class="flexfull width90 padtop">
      <div fxLayout="row" fxLayoutAlign="space-between end" class="flex50">
        <span class="flex33">Jurnal prefix</span>
        <input class="inputs text11 flex65" type="text" placeholder="Jurnal Prefix" [(ngModel)]="idh.pre_journal_id">
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between end" class="flex50 margin_7">
        <span class="flex33">Hutang prefix</span>
        <input class="inputs text11 flex65" type="text" placeholder="Hutang Prefix" [(ngModel)]="idh.pre_bill_id">
      </div>
    </div>
    <div class="flex-vertical global-setting padtop"></div>
  </mat-tab>

  <mat-tab label="Outlet">
    <div class="flex-vertical global-setting">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- 1 -->
        <span class="setting-title">Pengaturan POS</span>
        <!-- 2 -->
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <span class="span-left" style="width: 100px;">No Shift</span>
          <label class="switch">
            <input type="checkbox" (ngModelChange)="ngModelChange2($event)" [(ngModel)]="pos_shift">
            <span class="slider round"></span>
          </label>
          <span class="span-right">Shift</span>
        </div>
        <!-- 3 -->
        <div class="btn-rainbow">
          <div class="btn-white">
            <button class="btn-gradient text-gradient" (click)="save3()">Save</button>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div style="text-align: left;" [innerText]="explain2"></div>
      </div>
    </div>
    <div class="flex-vertical global-setting">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="setting-title">Pengaturan Outlet</span>
        <div (click)="addStore()" class="quick_add">
            <button class="submit">+ Tambah</button></div>
      </div>
      <div class="flex-left width100 text-left">
        <div class="table-container">
          <mat-table #table [dataSource]="dataSource" class="mat-table">
            <ng-container matColumnDef="name">
              <th class="th-style" fxFlex="50%" mat-header-cell *matHeaderCellDef>Name</th>
              <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let stores">
                <span *ngIf="stores.active==false" class="inactive">&nbsp;&nbsp;</span>
                {{stores.store_name}}</td>
            </ng-container>
            <ng-container matColumnDef="address">
              <th class="th-style" fxFlex="50%" mat-header-cell *matHeaderCellDef>Address</th>
              <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let stores">
                <span *ngIf="stores.active==false" class="inactive">&nbsp;&nbsp;</span>
                {{stores.store_addr}}</td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th class="th-style" fxFlex="25%" mat-header-cell *matHeaderCellDef>Phone</th>
              <td class="tr-style" fxFlex="25%" mat-cell *matCellDef="let stores">
                <span *ngIf="stores.active==false" class="inactive">&nbsp;&nbsp;</span>
                {{stores.store_phone}}</td>
            </ng-container>
            <ng-container matColumnDef="warehouse">
              <th class="th-style" fxFlex="35%" mat-header-cell *matHeaderCellDef>Warehouse</th>
              <td class="tr-style" fxFlex="35%" mat-cell *matCellDef="let stores">
                <span *ngIf="stores.active==false" class="inactive">&nbsp;&nbsp;</span>
                {{stores.warehouse.name}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="tableHeader"></tr>
            <tr mat-row class="tableRow" 
                (click)="openStore(row)"
                *matRowDef="let row; columns: displayedColumns;"
            ></tr>
            <!--(click)="openDialog(row)"
              [class.active]="clickedRows == row"-->
          </mat-table>
          </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Pajak">
    <div class="flex-vertical global-setting">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="setting-title">Pengaturan Pajak</span>
        <div (click)="addTax()" class="quick_add">
            <button class="submit">+ Tambah</button></div>
      </div>
      <div class="flex-left width100 text-left">
        <div class="table-container">
          <mat-table #table [dataSource]="dataSourceTax" class="mat-table">
            <ng-container matColumnDef="name">
              <th class="th-style" fxFlex="50%" mat-header-cell *matHeaderCellDef>Name</th>
              <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let taxs">
                {{taxs.name}}</td>
            </ng-container>
            <ng-container matColumnDef="tax">
              <th class="th-style" fxFlex="50%" mat-header-cell *matHeaderCellDef>Nilai</th>
              <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let taxs">
                {{taxs.tax}}</td>
            </ng-container>
            <ng-container matColumnDef="include">
              <th class="th-style" fxFlex="50%" mat-header-cell *matHeaderCellDef>Kondisi</th>
              <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let taxs">
                <span *ngIf="taxs.include" >Termasuk</span>
                <span *ngIf="!taxs.include" >Tidak Termasuk</span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsTax;" class="tableHeader"></tr>
            <tr mat-row class="tableRow" 
                (click)="openTax(row)"
                *matRowDef="let row; columns: displayedColumnsTax;"
            ></tr>
            <!--(click)="openDialog(row)"
              [class.active]="clickedRows == row"-->
          </mat-table>
          </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Pengguna">
    <div class="flex-vertical global-setting">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="setting-title">Pengaturan Pengguna</span>
        <div (click)="addUser()" class="quick_add">
            <button class="submit">+ Tambah</button></div>
      </div>
      <div class="flex-left width100 text-left">
        <div class="table-container">
          <mat-table #table [dataSource]="dataSourceUser" class="mat-table">
            <ng-container matColumnDef="name">
              <th class="th-style" fxFlex="50%" mat-header-cell *matHeaderCellDef>Name</th>
              <td class="tr-style" fxFlex="50%" mat-cell *matCellDef="let users">
                {{users.username}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsUser;" class="tableHeader"></tr>
            <tr mat-row class="tableRow" 
                *matRowDef="let row; columns: displayedColumnsUser;"
                (click)="userRole(row)"
            ></tr>
            <!--(click)="openDialog(row)"
              [class.active]="clickedRows == row"-->
          </mat-table>
          </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Aplikasi" *ngIf="isAdm">
    <div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top: 20px;">
      <div fxLayout="column">
        <span style="width: 100%; text-align: center;">UID</span>
        <qr-code [value]="api1" [size]="width"></qr-code>
      </div>
      <div fxLayout="column">
        <span style="width: 100%; text-align: center;">Company ID</span>
        <qr-code [value]="api2" [size]="width"></qr-code>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>