<div class="basic-container submit-form" fxLayout="column" fxLayoutAlign="space-between center" >
  <div class="width-100" style="overflow-y: scroll;">
    <div class="marginbot" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Create Bill from {{purchaseid}}</h2>
      <button class="close_btn" mat-button (click)="closeDialog()">X</button>
    </div>

    <div fxLayout="row">
      <div fxLayout="row" class="flex50">
        <div class="flex30">Bill Date</div>
        <div class="flex70">
          <input type="date" class="inputs width-90" [(ngModel)]="datdate" (ngModelChange)="changeDate()"/>
        </div>
      </div>
      <div fxLayout="row" class="flex50">
        <div class="flex30">Due Date</div>
        <div class="flex70">
          <input type="date" class="inputs width-90" [(ngModel)]="datduedate" (ngModelChange)="changeDueDate()"/>
        </div>
      </div>
    </div>
  
    <table class="table-new" style="margin-top: 20pt;">
      <tr>
        <td fxFlex="40%"></td>
        <td fxFlex="15%"></td>
        <td fxFlex="15%"><button (click)="billrec()" class="save_btn" style="font-size: 12pt;">bill by </button></td>
        <td fxFlex="15%"><button (click)="billall()" class="save_btn" style="font-size: 12pt;">bill by </button></td>
        <td fxFlex="15%"></td>
      </tr>
      <tr>
        <th class="th-new" style="border-left:1px solid #ccc;" fxFlex="40%">Produk</th>
        <th class="th-new" fxFlex="15%">Qty Ordered</th>
        <th class="th-new" fxFlex="15%">Qty Received</th>
        <th class="th-new" fxFlex="15%">Qty not Billed</th>
        <th class="th-new" fxFlex="15%">Qty to Bill</th>
      </tr>
    </table>

    <mat-table #table [dataSource]="dataSource" class="mat-table">
      <ng-container matColumnDef="product">
        <td class="tr-style" fxFlex="40%" mat-cell *matCellDef="let datas">
          <span *ngIf="datas.purchase_id">{{datas.product.name}}</span>
          <span *ngIf="!datas.purchase_id">{{datas.product}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="qty">
        <td class="tr-style text-right" fxFlex="15%" mat-cell *matCellDef="let datas">
          {{datas.qty | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="qtydone">
        <td class="tr-style text-right" fxFlex="15%" mat-cell *matCellDef="let datas">
          {{datas.qty_done | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="qtynobill">
        <td class="tr-style text-right" fxFlex="15%" mat-cell *matCellDef="let datas">
          {{datas.qty - datas.qty_inv | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="qty_inv">
        <td class="tr-style text-right" fxFlex="15%" mat-cell *matCellDef="let datas; let index = index">
          <input type="number" style="border: none; border-bottom: 2px dashed #666; text-align: right; width: 95%;" [value]="datas.qty_rec" [(ngModel)]="datas.qty_rec" (keyup)="editPO(dataSource.filteredData.indexOf(datas))"/>
        </td>
      </ng-container>

      <tr mat-row class="tableRow" 
        *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
    </mat-table>
  </div>

  <div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button [disabled]="isRes" class="save_btn" (click)="checkBill()">Create Bill</button>
  </div>
</div>