<div class="basic-container submit-form" fxLayout="column" fxLayoutAlign="space-between center" >
<div class="width-100">
  <div class="marginbot" fxLayout="row" fxLayoutAlign="space-between center">
    <div>{{journidtitle}}</div>
    <button class="close_btn" mat-button (click)="closeDialog()">X</button>
  </div>

  <div fxLayout="row">
    <div class="flex50">
      <div class="descrip">Dokumen Asal</div>
      <div class="inputs">{{data.origin}}</div>
    </div>
    <div class="flex50 margin_7">
      <div class="descrip">Tanggal</div>
      <div class="inputs">{{data.date | date}}</div>
    </div>
  </div>

  <div class="table-container" style="margin-top: 10pt;">
    <ngx-table [configuration]="configuration"
           [data]="entrys"
           [columns]="columns">
           <!--(event)="openDialog($event)">-->
      <ng-template let-row let-index="index">
        <td style="width:25%;">
          {{row.label}}
        </td>
        <td style="width:35%;">
          <span *ngIf="row.debits">{{row.debits.code}}</span>
          <span *ngIf="row.credits">{{row.credits.code}}</span>
          <span *ngIf="row.total"><b>TOTAL</b></span>
        </td>
        <td style="width:15%;">
          <span *ngIf="!row.total">{{row.debit}}</span>
          <span *ngIf="row.total"><b>{{row.debit}}</b></span>
        </td>
        <td style="width:15%;">
          <span *ngIf="!row.total">{{row.credit}}</span>
          <span *ngIf="row.total"><b>{{row.credit}}</b></span>
        </td>
        <td style="width:10%;">
          Action
        </td>
      </ng-template>
    </ngx-table>
  </div>
</div>

<div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="width-90">
    <button mat-button class="save_btn" (click)="closeDialog()">Tutup</button>
  </div>
  <div class="width-10"><button class="log_btn" [(ngModel)]="log"><mat-icon>message</mat-icon> {{log}}</button></div>
</div>
</div>