<div class="basic-container submit-form" fxLayout="column" fxLayoutAlign="space-between center" >
<div class="width-100" style="overflow-y: scroll;">
  <div class="marginbot" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="flexfullhead">
      <div fxLayout="row">
        <h2>{{purchaseid}}</h2>
      </div>
      <div class="exitbtn">
        <span *ngIf="data && !draft" class="text-gradient widget">{{smtotal | number}} <i class="fa fa-truck"></i></span>
        <span *ngIf="data && !draft" class="text-gradient widget margin_7">{{billtotal | number}} <i class="fa fa-file-text"></i></span>
        <span class="login-btn" style="margin-right: 5pt;" *ngIf="data && draft" (click)="validate()">Validate</span>
        <button class="close_btn margin_7" mat-button (click)="closeDialog()">X</button>
      </div>
    </div>
  </div>
  
  <div fxLayout="row" class="width100" fxLayoutAlign="space-between start">
    <div class="flex50 text-left">
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Supplier</div>
          <div class="flex70">
            <select class="inputs width-90" [disabled]="this.lock" [(ngModel)]="supplierString">
              <option *ngFor="let partner of partners" [value]="partner.id">
                {{ partner.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br/>
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Gudang</div>
          <div class="flex70">
            <select class="inputs width-90" [disabled]="this.lock" [(ngModel)]="warehouseString">
            <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
                {{ warehouse.name }}
            </option>
          </select>
          </div>
        </div>
      </div>
    </div>
    <div class="flex50 text-left">
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Date</div>
          <div class="flex70">
            <input type="date" class="inputs width-90" [disabled]="this.lock" [(ngModel)]="datdate"/>
          </div>
        </div>
      </div>
      <br/>
      <div fxLayout="column">
        <div fxLayout="row">
          <div class="flex30">Expected Date</div>
          <div class="flex70">
            <input type="date" class="inputs width-90" [disabled]="this.lock" [(ngModel)]="datexpected"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table-new">
    <tr>
      <th class="th-new" style="border-left:1px solid #ccc;" fxFlex="35%">Product</th>
      <th class="th-new" fxFlex="7%">Qty</th>
      <th class="th-new" fxFlex="7%">Qty Done</th>
      <th class="th-new" fxFlex="7%">Uom</th>
      <th class="th-new" fxFlex="13%">Harga Satuan</th>
      <th class="th-new" fxFlex="5%">Disc(%)</th>
      <th class="th-new" fxFlex="5%">Tax(%)</th>
      <th class="th-new" fxFlex="16%">Subtotal</th>
      <th class="th-new" fxFlex="5%"></th>
    </tr>
  </table>

  <!--<ul class="prod" *ngIf="openDropDown">
    <li class="list-group-item category"
      *ngFor="let product of products | filter:term; let i1 = index"
      [class.active]="i1 == currentIndex1"
      (click)="getProd(product, i1)">
      {{ product.name }}
    </li>
  </ul>-->

  <table style="width: 100%;">
    <tr *ngIf="!lock" class="borderinput">
      <td class="td-new" fxFlex="35%">
        <input class="inputss width-100" (focus)="onF()" placeholder="{{ph}}" [(ngModel)]="term"/></td>
      <td class="td-new" style="border-left:1px solid #ddd;" fxFlex="7%"><input class="inputss width-90 text-right" (blur)="calculate()" [(ngModel)]="datqty"/></td>
      <td class="td-new" style="border-left:1px solid #ddd;" fxFlex="7%"><input class="inputss width-90" disabled /></td>
      <td class="td-new" style="border-left:1px solid #ddd;" fxFlex="7%">
        <select class="inputs width-90" [disabled]="this.lock" [(ngModel)]="datuomid">
          <option *ngFor="let uom of uoms" [value]="uom.id">
            {{ uom.uom_name }}
          </option>
        </select>
      </td>
      <td class="td-new" style="border-left:1px solid #ddd;" fxFlex="13%"><input class="inputss width-90 text-right" (blur)="calculate()" [(ngModel)]="datcost"/></td>
      <td class="td-new" style="border-left:1px solid #ddd;" fxFlex="5%"><input class="inputss width-90 text-right" (blur)="calculate()" [(ngModel)]="datdisc"/></td>
      <td class="td-new" style="border-left:1px solid #ddd;" fxFlex="5%"><input class="inputss width-90 text-right" (blur)="calculate()" [(ngModel)]="dattax"/></td>
      <td class="td-new" style="border-left:1px solid #ddd;" fxFlex="16%"><input disabled class="inputss width-100 text-right" [(ngModel)]="datsub"/></td>
      <td class="td-new btn-rainbow" style="text-align:center;" fxFlex="5%"><button style="width:100%;background:none;border:none;color:white;" (click)="pushing()">+</button></td>
    </tr>
    <tr>
      <td colspan="8" fxFlex="100%">
        <ul class="prod" *ngIf="openDropDown">
          <li class="list-group-item category"
              *ngFor="let product of products | filter:term; let i1 = index"
              [class.active]="i1 == currentIndex1"
              (click)="getProd(product, i1)">
                {{ product.name }}
          </li>
        </ul>
      </td>
    </tr>
  </table>

  <ngx-table [configuration]="configuration"
           [data]="datax"
           [columns]="columns">
           <!--(event)="openDialog($event)">-->
    <!--<ng-template let-row let-index="index">
      <td style="width:35%;">{{row.products.name}}</td>
      <td style="width:7%; text-align: right; border-left: 1px solid #dddddd;">{{row.qty | number}}</td>
      <td style="width:7%; text-align: right; border-left: 1px solid #dddddd;">{{row.qty_done | number}}</td>
      <td style="width:7%; text-align: right; border-left: 1px solid #dddddd;">
        <span *ngIf="row.uoms">{{row.uoms.uom_name}}</span></td>
      <td style="width:13%; text-align: right; border-left: 1px solid #dddddd;">{{row.price_unit | number}}</td>
      <td style="width:5%; text-align: center; border-left: 1px solid #dddddd;">{{row.discount | number}}</td>
      <td style="width:5%; text-align: center; border-left: 1px solid #dddddd;">{{row.tax | number}}</td>
      <td style="width:16%; text-align: right; border-left: 1px solid #dddddd;">{{row.subtotal | number}}</td>
      
      <td style="width:5%;">
        Act
      </td>
    </ng-template>-->
  </ngx-table>
  
  <ng-template #productTpl let-row let-rowIndex="rowIndex">
    <div style="font-size:.9em;">{{row.products.name}}</div>
  </ng-template>
  <ng-template #qtyTpl let-row let-rowIndex="rowIndex">
    <div *ngIf="editRow !== rowIndex" style="border-left: 1px solid #333; font-size:.9em;">{{row.qty}}</div>
    <div *ngIf="editRow === rowIndex">
      <input type="text" #qty placeholder="Qty" class="form-label" [value]="row.qty" />
    </div>
  </ng-template>
  <ng-template #qtyDoneTpl let-row let-rowIndex="rowIndex">
    <div style="border-left: 1px solid #333; font-size:.9em;">{{row.qty_done}}</div>
  </ng-template>
  <ng-template #uomTpl let-row let-rowIndex="rowIndex">
    <div style="border-left: 1px solid #333; font-size:.9em;">{{row.products.uom_id}}</div>
  </ng-template>
  <ng-template #priceunitTpl let-row let-rowIndex="rowIndex">
    <div *ngIf="editRow !== rowIndex" style="border-left: 1px solid #333; font-size:.9em;">{{row.price_unit | number}}</div>
    <div *ngIf="editRow === rowIndex">
      <input type="text" #priceunit placeholder="Qty" class="form-label" [value]="row.price_unit" />
    </div>
  </ng-template>
  <ng-template #discountTpl let-row let-rowIndex="rowIndex">
    <div *ngIf="editRow !== rowIndex" style="border-left: 1px solid #333; font-size:.9em;">{{row.discount}}</div>
    <div *ngIf="editRow === rowIndex" style="border-left: 1px solid #333;">
      <input type="text" #discount placeholder="Discount" class="form-label" [value]="row.discount" />
    </div>
  </ng-template>
  <ng-template #taxTpl let-row let-rowIndex="rowIndex">
    <div *ngIf="editRow !== rowIndex" style="border-left: 1px solid #333; font-size:.9em;">{{row.tax}}</div>
    <div *ngIf="editRow === rowIndex">
      <input type="text" #discount placeholder="Tax" class="form-label" [value]="row.tax" />
    </div>
  </ng-template>
  <ng-template #subtotalTpl let-row let-rowIndex="rowIndex">
    <div style="border-left: 1px solid #333; font-size:.9em;">{{row.subtotal | number}}</div>
  </ng-template>
  <ng-template #actionTpl let-row let-rowIndex="rowIndex">
    <div *ngIf="editRow !== rowIndex" (click)="editX(rowIndex)" style="border-left: 1px solid #333; font-size:.9em;">E</div>
    <div *ngIf="editRow === rowIndex">S</div>
  </ng-template>

  <table class="table-new text-right" style="margin-top:2pt;">
    <tr>
      <td fxFlex="50%"></td>
      <td class="td-total" fxFlex="25%">Subtotal</td>
      <td class="td-total text-right" fxFlex="20%">Rp. {{thissub | number}}</td>
      <td class="td-total" fxFlex="5%"></td>
    </tr>
    <tr>
      <td fxFlex="50%"></td>
      <td class="td-total" fxFlex="25%">Disc</td>
      <td class="td-total text-right" fxFlex="20%">Rp. {{thisdisc | number}}</td>
      <td class="td-total" fxFlex="5%"></td>
    </tr>
    <tr>
      <td fxFlex="50%" class="text-center"><font *ngIf="data" style="font-size: 10pt;">{{persenqty | number}}% Barang Diterima</font></td>
      <td class="td-total" fxFlex="25%">Tax</td>
      <td class="td-total text-right" fxFlex="20%">Rp. {{thistax | number}}</td>
      <td class="td-total" fxFlex="5%"></td>
    </tr>
    <tr>
      <td fxFlex="50%" class="text-center"><mat-progress-bar mode="determinate" style="width: 200pt !important; margin: 0 auto;" [value]="persenqty" *ngIf="data"></mat-progress-bar></td>
      <td class="td-total" fxFlex="25%"><b>TOTAL</b></td>
      <td class="td-total text-right" fxFlex="20%"><b>Rp. {{thistotal | number}}</b></td>
      <td class="td-total" fxFlex="5%"></td>
    </tr>
    <tr>
      <td fxFlex="50%">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button class="save_btn_white flex50" (click)="openReceivePartial()" *ngIf="data && !draft && persenqty! < 100" style="font-size: 12pt;"><i class="fa fa-arrow-down"></i> Sebagian</button>
          <button class="save_btn flex50" (click)="receiveAll()" *ngIf="data && !draft && persenqty! < 100" style="font-size: 12pt;"><i class="fa fa-arrow-down"></i> Semua</button>
        </div>
      </td>
      <td colspan="3" fxFlex="50%">
        <button (click)="startInvoice()" *ngIf="data" class="btn-gradient text-gradient btn-invbill">Create Bill <i class="fa fa-file-text-o"></i><i class="fa fa-chevron-right"></i></button>
      </td>
    </tr>
  </table>
</div>

<div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="width-90">
    <button mat-button [disabled]="isRes" *ngIf="!this.lock" class="save_btn" (click)="startPO()">Simpan</button>
    <button mat-button [disabled]="isRes" *ngIf="this.lock" class="save_btn" style="background: #fff; color: #3f5efb;" (click)="editPO()">{{edit_text}}</button>
  </div>
  <div class="width-10"><button class="log_btn" [(ngModel)]="log"><mat-icon>message</mat-icon> {{log}}</button></div>
</div>
</div>