<div class="dialog-container submit-form flex flex-col justify-between">
  <div class="w-100">
    <div class="mb-3 flex flex-row justify-between items-center">
      <span *ngIf="datname" class="title">{{datname}}</span>
      <span *ngIf="!datname" class="title">New</span>
      <button class="order-1 order-md-2 text-danger p-1" mat-button (click)="closeDialog()">X</button>
    </div>

    <div class="w-100 flex flex-col flex-md-row">
      <div class="flex-100 flex-md-50 flex flex-row">
        <div class="flex-30">Nama Pajak *</div>
        <span class="flex-5">:</span>
        <input class="input flex-65" id="desc" required placeholder="Name" [(ngModel)]="datname">
      </div>
      <div class="flex-100 flex-md-50 flex flex-row mt-2 mt-md-0 ml-0 ml-md-2">
        <div class="flex-30">Pajak (%) *</div>
        <span class="flex-5">:</span>
        <input class="input flex-65" id="desc" required placeholder="Pajak" type="number" (ngModelChange)="ngModelChange($event)" [(ngModel)]="dattax">
      </div>
    </div>
    <div class="w-100 flex flex-col flex-md-row mt-2 mt-md-0">
      <div class="flex flex-row flex-100 flex-md-50">
        <div class="flex-30">Default Akun Pajak Masuk</div>
        <span class="flex-5">:</span>
        <select class="input flex-65" [(ngModel)]="taxInId">
          <option *ngFor="let coa of coas" [value]="coa.id">
            {{ coa.code }} - {{ coa.name }}
          </option>
        </select>
      </div>
      <div class="flex flex-row flex-100 flex-md-50">
        <div class="flex-30">Default Akun Pajak Keluar</div>
        <span class="flex-5">:</span>
        <select class="input flex-65" [(ngModel)]="taxOutId">
          <option *ngFor="let coa of coas" [value]="coa.id">
            {{ coa.code }} - {{ coa.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="w-100 flex flex-col flex-md-row mt-2 mt-md-8">
      <div class="flex-100 flex-md-50 flex flex-row">
        <div class="flex-30">Termasuk *</div>
        <mat-button-toggle-group class="active_btn" #groupTax="matButtonToggleGroup" [(value)]="datinclude" (change)="onIncludeChange(groupTax.value)">
          <mat-button-toggle value="true" style="width: 150px;">Termasuk</mat-button-toggle>
          <mat-button-toggle value="false" style="width: 150px;">Tidak Termasuk</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="flex-100 flex-md-50 flex flex-row mt-2 mt-md-0 ml-0 ml-md-2">
        <div [innerText]="explainer"></div>
      </div>
    </div>
  </div>

  <div class="w-100">
    <button mat-button class="w-100 btn btn-primary py-2" (click)="updateData()">Simpan</button>
  </div>
</div>