<div class="dialog-container submit-form flex flex-col justify-between">
<div class="w-100">
  <div class="mb-3 flex flex-row justify-between items-center">
    <div class="w-100 flex flex-row justify-between">
      <mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="statusActive" (change)="onValChange(group.value)">
        <mat-button-toggle value="true">Atif</mat-button-toggle>
        <mat-button-toggle value="false">Nonaktif</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="w-100 text-right">
        <button class="text-danger p-1" mat-button (click)="closeDialog()">X</button>
      </div>
    </div>
  </div>
  
  <div class="w-100 flex flex-col flex-md-row">
    <div class="flex flex-row flex-50">
      <div class="flex-30">ID Kategory<sup>*</sup></div>
      <span class="flex-5">:</span>
      <input class="input flex-65" maxlength="6" required placeholder="ID" [(ngModel)]="data.catid">
    </div>
    <div class="flex flex-row flex-50 ml-md-3 mt-2 mt-md-0">
      <div class="flex-30">Nama<sup>*</sup></div>
      <span class="flex-5">:</span>
      <input class="input flex-65" required placeholder="Description" [(ngModel)]="data.description">
    </div>
  </div>
  <div class="w-100 flex flex-col flex-md-row mt-4">
    <span class="title mb-2 text-15">Accounting Section</span>
  </div>
  <div class="w-100 flex flex-col flex-md-row">
    <div class="flex flex-row flex-50">
      <div class="flex-30">Revenue Account</div>
      <span class="flex-5">:</span>
      <select class="input flex-65" [(ngModel)]="revId">
        <option *ngFor="let coa of coas" [value]="coa.id">
          {{ coa.code }} - {{ coa.name }}
        </option>
      </select>
    </div>
    <div class="flex flex-row flex-50 ml-md-3 mt-2 mt-md-0">
      <div class="flex-30">Costing Account</div>
      <span class="flex-5">:</span>
      <select class="input flex-65" [(ngModel)]="expId">
        <option *ngFor="let coa of coas" [value]="coa.id">
          {{ coa.code }} - {{ coa.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="w-100 flex flex-col flex-md-row mt-2">
    <div class="flex flex-row flex-50">
      <div class="flex-30">Incoming Stock Account</div>
      <span class="flex-5">:</span>
      <select class="input flex-65" [(ngModel)]="incId">
        <option *ngFor="let coa of coas" [value]="coa.id">
          {{ coa.code }} - {{ coa.name }}
        </option>
      </select>
    </div>
    <div class="flex flex-row flex-50 ml-md-3 mt-2 mt-md-0">
      <div class="flex-30">Outgoing Stock Account</div>
      <span class="flex-5">:</span>
      <select class="input flex-65" [(ngModel)]="outId">
        <option *ngFor="let coa of coas" [value]="coa.id">
          {{ coa.code }} - {{ coa.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="w-100 flex flex-col flex-md-row flex-wrap mt-2">
    <div class="flex flex-row flex-50">
      <div class="flex-30">Inventory Account</div>
      <span class="flex-5">:</span>
      <select class="input flex-65" [(ngModel)]="invId">
        <option *ngFor="let coa of coas" [value]="coa.id">
          {{ coa.code }} - {{ coa.name }}
        </option>
      </select>
    </div>
    <div class="flex flex-row flex-50">&nbsp;</div>
  </div>
</div>

<div class="w-100 flex flex-row justify-between items-center">
  <div class="w-90">
    <button mat-button [disabled]="isRes" class="btn btn-primary w-90 py-2" (click)="updateData()">Simpan</button>
  </div>
  <div class="w-10"><button class="text-primary p-1" [(ngModel)]="log"><mat-icon>message</mat-icon> {{log}}</button></div>
</div>
</div>

  