<div class="dialog-container submit-form flex flex-col justify-between">
<div class="w-100">
  <div class="mb-3 flex flex-row justify-between items-center">
    <div class="w-100 flex flex-row justify-between">
      <span class="title w-20rem h-2rem">{{journidtitle}}</span>
      <div class="flex flex-col flex-md-row items-end items-md-start">
        <span *ngIf="data.lock" class="order-2 order-md-2 mr-md-3 mt-2 mt-md-0 btn-primary bg-success" (click)="changeLock()">Posted</span>
        <span *ngIf="!data.lock" class="order-2 order-md-2 mr-md-3 mt-2 mt-md-0 btn-primary bg-danger" (click)="changeLock()">Unposted</span>
        <span *ngIf="data.lock && amountdue > 0" (click)="startPay()" class="order-3 order-md-1 mr-md-3 mt-2 mt-md-0 w-5rem text-center text-gradient py-1 px-2 border-1 border-solid border-lightgray border-radius-1">Pay <i class="fa fa-money"></i></span>
        <button class="order-1 order-md-2 text-danger p-1" mat-button (click)="closeDialog()">X</button>
      </div>
    </div>
  </div>

  <div class="w-100 flex flex-col flex-md-row">
    <div class="flex-100 flex-md-50 flex flex-row">
      <div class="flex-30">Dokumen Asal</div>
      <span class="flex-5">:</span>
      <div class="input flex-65">{{data.origin}}</div>
    </div>
    <div class="flex-100 flex-md-50 flex flex-row mt-2 mt-md-0 ml-0 ml-md-2">
      <div class="flex-30">Tanggal</div>
      <span class="flex-5">:</span>
      <input type="date" class="input flex-65" [disabled]="this.lock" [(ngModel)]="datdate"/>
    </div>
  </div>
  <div class="w-100 flex flex-col flex-md-row mt-2">
    <div class="flex-100 flex-md-50 flex flex-row">
      <div class="flex-30">Vendor</div>
      <span class="flex-5">:</span>
      <select class="input flex-65" [disabled]="this.lock" [(ngModel)]="supplierString">
        <option *ngFor="let partner of partners" [value]="partner.id">
          {{ partner.name }}
        </option>
      </select>
    </div>
    <div class="flex-100 flex-md-50 flex flex-row mt-2 mt-md-0 ml-0 ml-md-2">
      <div class="flex-30">Tanggal Jth Tempo</div>
      <span class="flex-5">:</span>
      <input type="date" class="input flex-65" [disabled]="this.lock" [(ngModel)]="datduedate"/>
    </div>
  </div>

  <div class="w-100 mt-2">
    <table class="w-100">
      <tr class="py-1 border-y-1 border-solid border-gray bg-lightgray">
        <th class="th-style" fxFlex="35%">Label</th>
        <th class="th-style" fxFlex="10%">Qty</th>
        <th class="th-style" fxFlex="20%">Price Unit</th>
        <th class="th-style" fxFlex="7%">Disc</th>
        <th class="th-style" fxFlex="7%">Tax</th>
        <th class="th-style" fxFlex="21%">Subtotal</th>
      </tr>
    </table>

    <mat-table #table [dataSource]="dataSource" class="mat-table">
      <ng-container matColumnDef="label">
        <td class="td-style" fxFlex="35%" mat-cell *matCellDef="let datas">
          {{datas.label}}
        </td>
      </ng-container>
      <ng-container matColumnDef="qty">
        <td class="td-style text-right pr-1" fxFlex="10%" mat-cell *matCellDef="let datas">
          {{datas.qty | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="price_unit">
        <td class="td-style text-right pr-1" fxFlex="20%" mat-cell *matCellDef="let datas">
          {{datas.price_unit | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <td class="td-style text-right" fxFlex="7%" mat-cell *matCellDef="let datas">
          {{datas.discount | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="tax">
        <td class="td-style text-right" fxFlex="7%" mat-cell *matCellDef="let datas">
          {{datas.tax | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="subtotal">
        <td class="td-style text-right" fxFlex="21%" mat-cell *matCellDef="let datas">
          {{datas.subtotal | number}}
        </td>
      </ng-container>

      <tr mat-row class="table-row" 
        *matRowDef="let row; columns: displayedColumns;"  
      ></tr>
    </mat-table>
    <div fxLayout="row">
      <div class="flex50">
        <!--<mat-table #table [dataSource]="dataSourcePay" class="mat-table" style="margin-top: 20pt;">
          <ng-container matColumnDef="label">
            <th class="th-style text-center" fxFlex="40%" mat-header-cell *matHeaderCellDef>Method</th>
            <td class="tr-style text-left" fxFlex="40%" mat-cell *matCellDef="let datas">
              {{datas.pay1method}}
            </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th class="th-style text-center" fxFlex="20%" mat-header-cell *matHeaderCellDef>Date</th>
            <td class="tr-style text-left" fxFlex="20%" mat-cell *matCellDef="let datas">
              {{datas.date | date}}
            </td>
          </ng-container>
          <ng-container matColumnDef="payment">
            <th class="th-style text-center" fxFlex="40%" mat-header-cell *matHeaderCellDef>Payment</th>
            <td class="tr-style text-right" fxFlex="40%" mat-cell *matCellDef="let datas">
              {{datas.payment1 | number}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsPay" class="tableHeader"></tr>
          <tr mat-row class="tableRow" 
            *matRowDef="let row; columns: displayedColumnsPay;"  
          ></tr>
        </mat-table>-->
        <!--<ngx-table [configuration]="configurationPay"
          [data]="paymentx"
          [columns]="columnsPay">
        </ngx-table>-->
      </div>
      <div class="flex50">
        <table class="table-new text-right" style="margin-top:2pt;">
          <tr>
            <td class="td-total" fxFlex="50%">Subtotal</td>
            <td class="td-total text-right" fxFlex="43%">Rp. {{thissub | number}}</td>
            <td class="td-total" fxFlex="2%"></td>
          </tr>
          <tr>
            <td class="td-total" fxFlex="50%">Disc</td>
            <td class="td-total text-right" fxFlex="43%">Rp. {{thisdisc | number}}</td>
            <td class="td-total" fxFlex="2%"></td>
          </tr>
          <tr>
            <td class="td-total" fxFlex="50%">Tax</td>
            <td class="td-total text-right" fxFlex="43%">Rp. {{thistax | number}}</td>
            <td class="td-total" fxFlex="2%"></td>
          </tr>
          <tr>
            <td class="td-total" fxFlex="50%"><b>TOTAL</b></td>
            <td class="td-total text-right" fxFlex="43%"><b>Rp. {{thistotal | number}}</b></td>
            <td class="td-total" fxFlex="2%"></td>
          </tr>
          <tr>
            <td class="td-total" fxFlex="50%">Outstanding</td>
            <td class="td-total text-right" fxFlex="43%">Rp. {{amountdue | number}}</td>
            <td class="td-total" fxFlex="2%"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="width-90">
    <button mat-button class="save_btn" (click)="closeDialog()">Tutup</button>
  </div>
  <div class="width-10"><button class="log_btn" [(ngModel)]="log"><mat-icon>message</mat-icon> {{log}}</button></div>
</div>
</div>