<div class="dialog-container submit-form flex flex-col justify-between">
<div class="w-100">
  <div class="mb-3 flex flex-row justify-between items-center">
    <div class="w-100 flex flex-row justify-between items-start pt-1">
      <span class="title w-20rem h-3rem border-primary">{{journidtitle}}</span>
      <button class="btn bg-white text-black py-1 px-2 h-1rem" (click)="openPrint()">PRINT <i class="fa fa-print"></i></button>
      <div class="flex flex-col flex-md-row items-end items-md-start">
        <span *ngIf="data.lock" class="order-2 order-md-2 mr-md-3 mt-2 mt-md-0 btn btn-primary bg-success" (click)="changeLock()">Posted</span>
        <span *ngIf="!data.lock" class="order-2 order-md-2 mr-md-3 mt-2 mt-md-0 btn btn-primary bg-danger" (click)="changeLock()">Unposted</span>
        <span *ngIf="data.lock && amountdue > 0" (click)="startPay()" class="order-3 order-md-1 mr-md-3 mt-2 mt-md-0 w-5rem text-center text-gradient py-1 px-2 border-1 border-solid border-lightgray border-radius-1">Pay <i class="fa fa-money"></i></span>
        <button class="order-1 order-md-2 text-danger p-1" mat-button (click)="closeDialog()">X</button>
      </div>
    </div>
  </div>

  <div class="w-100 flex flex-col flex-md-row">
    <div class="flex-100 flex-md-50 flex flex-row">
      <div class="flex-30">Dokumen Asal</div>
      <span class="flex-5">:</span>
      <div class="input flex-65">{{data.origin}}</div>
    </div>
    <div class="flex-100 flex-md-50 flex flex-row mt-2 mt-md-0 ml-0 ml-md-2">
      <div class="flex-30">Tanggal</div>
      <span class="flex-5">:</span>
      <input type="date" class="input flex-65" [disabled]="this.lock" [(ngModel)]="datdate"/>
    </div>
  </div>
  <div class="w-100 flex flex-col flex-md-row mt-2">
    <div class="flex-100 flex-md-50 flex flex-row">
      <div class="flex-30">Vendor</div>
      <span class="flex-5">:</span>
      <select class="input flex-65" [disabled]="this.lock" [(ngModel)]="supplierString">
        <option *ngFor="let partner of partners" [value]="partner.id">
          {{ partner.name }}
        </option>
      </select>
    </div>
    <div class="flex-100 flex-md-50 flex flex-row mt-2 mt-md-0 ml-0 ml-md-2">
      <div class="flex-30">Tanggal Jth Tempo</div>
      <span class="flex-5">:</span>
      <input type="date" class="input flex-65" [disabled]="this.lock" [(ngModel)]="datduedate"/>
    </div>
  </div>

  <div class="w-100 mt-2">
    <table class="w-100">
      <tr class="pt-2 pb-1 border-t-2 border-solid border-gray">
        <th class="th-style" fxFlex="35%">Label</th>
        <th class="th-style text-right pr-1" fxFlex="10%">Qty</th>
        <th class="th-style text-right pr-1" fxFlex="20%">Price Unit</th>
        <th class="th-style text-right pr-1" fxFlex="7%">Disc</th>
        <th class="th-style text-right pr-1" fxFlex="7%">Tax</th>
        <th class="th-style text-right pr-3" fxFlex="21%">Subtotal</th>
      </tr>
    </table>

    <mat-table #table [dataSource]="dataSource" class="mat-table">
      <ng-container matColumnDef="label">
        <td class="td-style" fxFlex="35%" mat-cell *matCellDef="let datas">
          {{datas.label}}
        </td>
      </ng-container>
      <ng-container matColumnDef="qty">
        <td class="td-style text-right pr-1" fxFlex="10%" mat-cell *matCellDef="let datas">
          {{datas.qty | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="price_unit">
        <td class="td-style text-right pr-1" fxFlex="20%" mat-cell *matCellDef="let datas">
          {{datas.price_unit | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <td class="td-style text-right pr-1" fxFlex="7%" mat-cell *matCellDef="let datas">
          {{datas.discount | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="tax">
        <td class="td-style text-right pr-1" fxFlex="7%" mat-cell *matCellDef="let datas">
          {{datas.tax | number}}
        </td>
      </ng-container>
      <ng-container matColumnDef="subtotal">
        <td class="td-style text-right" fxFlex="21%" mat-cell *matCellDef="let datas">
          {{datas.debit | number}}
        </td>
      </ng-container>

      <tr mat-row class="table-row" 
        *matRowDef="let row; columns: displayedColumns;"  
      ></tr>
    </mat-table>
    <div class="w-100 flex flex-col flex-md-row pt-2">
      <div class="flex-100 flex-md-50">
        <table class="w-100">
          <tr class="pt-2 pb-1 border-t-2 border-solid border-gray">
            <th class="th-style" fxFlex="40%">Method</th>
            <th class="th-style pl-1" fxFlex="20%">Date</th>
            <th class="th-style text-right pr-1" fxFlex="40%">Payment</th>
          </tr>
        </table>
        <mat-table #table [dataSource]="dataSourcePay">
          <ng-container matColumnDef="label">
            <td class="td-style text-left" fxFlex="40%" mat-cell *matCellDef="let datas">
              {{datas.pay_method}}
            </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <td class="td-style text-left" fxFlex="20%" mat-cell *matCellDef="let datas">
              {{datas.date | date}}
            </td>
          </ng-container>
          <ng-container matColumnDef="payment">
            <td class="td-style text-right" fxFlex="40%" mat-cell *matCellDef="let datas">
              {{datas.payment | number}}
            </td>
          </ng-container>

          <tr mat-row class="table-row" 
            *matRowDef="let row; columns: displayedColumnsPay;"  
          ></tr>
        </mat-table>
        <!--<ngx-table [configuration]="configurationPay"
          [data]="paymentx"
          [columns]="columnsPay">
        </ngx-table>-->
      </div>
      <div class="flex-100 flex-md-50 text-right items-end">
        <table class="w-20rem m-auto-left text-15">
          <tr class="py-1 border-t-2 border-solid border-lightgray">
            <td fxFlex="50%">Subtotal</td>
            <td fxFlex="43%">Rp. {{thissub | number}}</td>
            <td fxFlex="2%"></td>
          </tr>
          <tr class="py-1 border-t-2 border-solid border-lightgray">
            <td fxFlex="50%">Disc</td>
            <td fxFlex="43%">Rp. {{thisdisc | number}}</td>
            <td fxFlex="2%"></td>
          </tr>
          <tr class="py-1 border-t-2 border-solid border-lightgray">
            <td fxFlex="50%">Tax</td>
            <td fxFlex="43%">Rp. {{thistax | number}}</td>
            <td fxFlex="2%"></td>
          </tr>
          <tr class="py-1 border-y-2 border-solid border-dark">
            <td fxFlex="50%"><b>TOTAL</b></td>
            <td fxFlex="43%"><b>Rp. {{thistotal | number}}</b></td>
            <td fxFlex="2%"></td>
          </tr>
          <tr class="py-1 border-b-2 border-solid border-lightgray">
            <td fxFlex="50%">Outstanding</td>
            <td fxFlex="43%">Rp. {{amountdue | number}}</td>
            <td fxFlex="2%"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="w-100 flex flex-row justify-between items-center">
  <div class="w-90">
    <button mat-button class="w-90 btn btn-primary py-2" (click)="closeDialog()">Tutup</button>
  </div>
  <div class="w-10"><button class="text-primary p-1" [(ngModel)]="log"><mat-icon>message</mat-icon> {{log}}</button></div>
</div>
</div>