<div class="dialog-container submit-form flex flex-col justify-between">
<div class="w-100 h-30rem overflow-y-scroll">
  <div class="mb-3 flex flex-row justify-between items-center">
    <div class="flex-30">
      <span class="title mb-0">{{data | uppercase}}</span>
    </div>
    <div class="flex-40 text-center">
      <span class="dialog-title mb-0">Upload Data</span>
    </div>
    <div class="flex-30 text-end">
      <button class="text-danger p-1" mat-button (click)="closeDialog()">X</button>
    </div>
  </div>
  <input type="file" id="file-upload" name="fileUpload" accept=".xls,.xlsx" (change)="onFileChange($event)" />
  <div *ngIf="alerted" class="alert" style="padding:7pt 3pt; font-size:1em;">{{message}}</div>
  <div *ngIf="success" class="success" style="padding:7pt 3pt; font-size:1em;">{{msgsuccess}}</div>
  <br/>
  <div>{{sample}}</div>
  <table class="sjs-table">
    <tr class="th-style" *ngFor="let row of data1">
      <td class="td-style" *ngFor="let val of row">
        {{val}}
      </td>
    </tr>
  </table>
</div>

<div class="width-100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="width-100">
    <button mat-button [disabled]="isRes" class="save_btn" (click)="updateData()">{{btntxt}}</button>
  </div>
</div>
</div>